.carousel {
    position: relative;
    width: 100%;
    height: 60vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden; /* Para asegurarte de que las imágenes no se desborden */
  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurarte de que la imagen se ajuste al tamaño del contenedor */
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .position-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .position-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .position-dot.active {
    background-color: #333;
  }
  @media(max-width:900px){
      .carousel{
        height: 40vh;
      }
  }
  @media(max-width:400px){
    .carousel{
      height: 30vh;
    }
}