.footer{
    background-color: #6669;
    padding: 2vh;
}
.logoFoot{
    width: 20vw;
}
.redes{
    width: 15%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    color: #444;
    margin-bottom: 1%;
    font-size: 3vh;
}
.iconRed{
transition: all .5s;
}
.iconRed:hover{
    transform: scale(1.5);
}
@media(max-width:700px){
    .logoFoot{
        width: 35vw;
    }
    .redes{
        width: 50%;
        
    }
    .copy{
        font-size: 2vw;
    }
}