.logoH{
    width: 8%;
}
.header{
    height:10%;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}
@media (max-width: 400px) {
    .logoH{
        width: 15%;
    }
    
}